title {
    color: grey;
    font-size: 20px;
    font-family: "Trebuchet MS", sans-serif;
}

p, ul {
    font-size: 18px;
    color: black;
    font-family:"Trebuchet MS", sans-serif;
}

h1 {
    font-size: 24px;
    color: black;
    font-family: "Trebuchet MS", sans-serif;
}

h2 {
    font-size: 22px;
    color: black;
    font-family: "Trebuchet MS", sans-serif;
}

h3 {
    font-size: 20px;
    color: black;
    font-family: "Trebuchet MS", sans-serif;
}

  
button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    font-family: "Trebuchet MS", sans-serif;
}
  
a {
    font-size: 22px;
    color: black;
    font-family: "Trebuchet MS", sans-serif;
}
  
button:hover, a:hover {
    opacity: 0.7;
}


.topnav {
    background-color: #3584d4;
    overflow: hidden;
}
  

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Trebuchet MS", sans-serif;
}
  

.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
.topnav a.active {
    background-color: #2172c4;
    color: white;
}

.bottombar {
    background-color: black;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 100%;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

hr.dotted {
    border-top: 2px dotted #bbb;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  